@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./resourceList.scss";
@import "./utils.scss";
@import "./flip.scss";

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--font-clr-primary);
}

:root {
  --border-clr-primary: rgba(255, 255, 255, 0.05);

  --font-clr-primary: #eeeeee;
}

h1 {
  font-size: 10vw;
  font-weight: 700;
  margin: 0 0 0.2em 0;
}

h2 {
  font-size: 3vw;
  font-weight: 600;
  margin: 0 0 0.2em 0;
}

p {
  font-weight: 200;
  margin: 0;
  margin-bottom: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid var(--border-clr-primary);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  box-shadow: 0px 8px 15px 8px rgba(26, 26, 26, 0.4);
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1rem;
}

.container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-width: 45rem;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource-item {
  width: 400px;
  padding: 10px;

  :hover {
    cursor: pointer;
  }
}

.tag {
  background-color: grey;
  border-radius: 15px;
  padding: 2px 7px;
}
