.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-width {
  width: 100%;
}
